{% extends "base.html.twig" %}

{% block body %}

<div class="text-center"><h1>Voici les videos que vous avez dans votre historique</h1></div>

</br>

  {% for Historique in listUrl %}
  <row>  
<div class="embed-responsive embed-responsive-4by3"><iframe class="embed-responsive-item" src={{ Historique.urlText }} width="50" height="50"></iframe></div>
  
  </row>
  {% endfor %}

</br>

<a href="{{ path('app_saveHistory')}}" class="btn btn-primary col-md-3 col-md-offset-9">Ajouter une nouvelle video a l'historique</a>



{% endblock %}